/*
 Theme Name:   Amat-luxury-child
 Author: Somos Sinapsis S.L.
 Author URI:   https://sinapsis.agency
 Template:     amat-luxury
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/*==============================variables colores==============================*/
:root {
  --amat-red:#DA291C;
  --amat-golden:#897350;
  --amat-white:#FFFFFF;
  --amat-black:#000000;
}
/*==============================TIPOGRAFIAS=====================================*/
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*/
h1{
	font-size: 60px !important;
	font-family: 'Crimson Text', serif;
}
h2{
	font-size: 50px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h3{
	font-size: 48px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h4{
	font-size: 30px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h5{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
p{
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	margin-bottom: 0.3rem !important;
}
a{
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline !important;
}
ul, li{
    font-family: 'Work Sans', sans-serif;
}
/*================================buttons style================================*/
button, .button{
	font-family: 'Work Sans', sans-serif !important;
	font-size: 18px;
	text-transform: uppercase;
}
.button.gold {
    background:linear-gradient(1deg, #9B835D 70%, #605038 100%);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 9px 57px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration:none !important;
    border-color: transparent;
    margin: 12px;
    border: none !important;
}
.button.black{
	background: #000000;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	color:var(--amat-white);
	padding: 6px 46px;
	text-decoration: none !important;
	font-weight: normal;
	font-size: 16px;
}
.button.white {
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	color: var(--amat-black);
	padding: 6px 46px;
	text-decoration: none !important;
	font-weight: normal;
	font-size: 16px;
}
/*=================================FORMULARIOS=================================*/
.wpcf7-form-control.wpcf7-text {
    background: #ECEBE9;
    border-radius: 20px;
    border-color: transparent;
    padding: 3px 20px;
    margin: 0.4rem;
	width: 100%;
	font-size: 12px;
}
.wpcf7-form-control.wpcf7-textarea {
    background: #ECEBE9;
    border-radius: 20px;
    border-color: transparent;
    padding: 12px;
    margin: 0.4rem;
	width: 100%;
	max-height: 175px;
	font-size: 12px;
}
textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder,
textarea:-ms-input-placeholder, textarea::placeholder {
  color: var(--amat-black);
}
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder,
input:-ms-input-placeholder, input::placeholder {
  color: var(--amat-black);
}
/*==================================GENERAL====================================*/
#main {
    padding: 0px;
}
.site-content .container{
	max-width: 1200px !important;
}
#footer .container{
  /*max-width: 1200px !important;*/
  max-width: 97% !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important;
}

/*accodions*/
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
    }
/*=================================BREADCRUMBS=====================================*/
.breadcrumbs {
    position: absolute;
    margin-left: 2rem;
    margin-top: 0.5rem;
    color: var(--amat-black);
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}
.breadcrumbs a, .breadcrumbs a:hover{
    color: var(--amat-black);
    font-weight: normal;
    text-decoration: none !important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 12px;
}
.page-template-Contacto .breadcrumbs, .page-template-plantilla-generica .breadcrumbs{
    color: var(--amat-white);
}
.page-template-Contacto .breadcrumbs a, .page-template-Contacto .breadcrumbs a:hover,
.page-template-plantilla-generica .breadcrumbs a, .page-template-plantilla-generica .breadcrumbs a:hover{
    color: var(--amat-white);
    font-weight: normal;
    text-decoration: none !important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 12px;
}
/*=================================PLANTILLA GENÉRICA==============================*/
.p-generica .banner-imagen {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.p-generica .texto{
    margin-bottom: 5rem;
}
.p-generica .texto li{
	font-size: 14px !important;
}
.p-generica p{
    line-height: 24px;
}
.p-generica .texto p {
    margin-bottom: 2rem !important;
}
.p-generica .texto a{
    color: var(--amat-black);
}
.p-generica .video {
    width: 70%;
    margin: auto;
}

/*=================================HEADER==========================================*/
/*logo*/
.navbar-brand img {
  height: 55px !important;
  padding-left: 10px;
}
/*sticky header*/
#header {
position: fixed;
top: 0;
width: 100%;
z-index: 2000;
margin-top: 0rem;
}
.top-bar {
	/*padding-top: 5.2em;*/
	background: black;
}

/*end sticky header*/
#header .container {
  padding-left: var(--bs-gutter-x,2rem);
  padding-right: var(--bs-gutter-x,2rem);
}
#header .dropdown-item {
  font-size: 14px;
}
#header .dropdown-item {
  text-decoration: none !important;
}
#header .dropdown-item:hover {
  background-color: transparent;
}
#header .dropdown-menu{
  left: -4rem;
}
#header .dropdown-toggle::after {
  content: "" !important;
  background: url('/blog/wp-content/uploads/2022/02/chevron.png') !important;
    background-repeat: repeat  !important;
    background-size: auto  !important;
	background-size: 59px  !important;
	background-repeat: no-repeat  !important;
	position: absolute  !important;
	border: none  !important;
	top: 0.8rem  !important;
	right: 0em  !important;
	display: block  !important;
	background-size: auto  !important;
	height: 12px !important;
	width: 17px !important;
	margin-right: -2px;
}
#header .nav-link {
  margin-right: 8px;
}
.wpml-ls-legacy-dropdown a:focus{
  color: white;
  background: transparent;
}
nav#header,
nav#header .top-bar {
    background-color: #000 !important;
}
#menu-item-wpml-ls-13-en, #menu-item-wpml-ls-13-es, #menu-item-wpml-ls-13-ca, header .login {
  /*display: none;*/
}
.navbar-dark .navbar-toggler {
  border-color: transparent !important;
  color: transparent !important;
}
.top-bar .container {
  background: var(--amat-black);
  display: flex;
  padding-bottom: 0.5em;
}
header .wpml-ls-legacy-dropdown {
  width: 6em !important;
}
header .js-wpml-ls-item-toggle.wpml-ls-item-toggle {
  font-size: 14px;
}
#navbar .nav-link {
  color: #fff;
  font-family: 'work sans';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none !important;
}
#navbar .me-auto {
  margin-left: auto !important;
  margin-right: 20px !important;
}
.wpml-ls-legacy-dropdown {
  margin-left: auto;
}
.wpml-ls-legacy-dropdown a {
  display: block;
  text-decoration: none;
  color: var(--amat-white);
  border: 1px solid var(--amat-black);
  background-color: var(--amat-black);
  padding: 5px 10px;
    padding-right: 10px;
  line-height: 1;
  text-decoration: none !important;
}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a{
	color: var(--amat-black);
  	border: 1px solid transparent;
  	background-color: var(--amat-white);
}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.wpml-ls-legacy-dropdown a span {
  vertical-align: middle;
  font-weight: lighter;
}
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
  color: white;
  background: black;
}
.wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
 /* color: var(--amat-black);
  background: var(--amat-white);*/
}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
  border-top: 1px solid var(--amat-black);
}
.top-bar .login-btn {
  background: var(--amat-white);
  border-radius: 15px;
  padding: 2px 12px 5px 12px;
}
.top-bar .login-btn a {
  color: var(--amat-golden);
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 12px;
  font-weight: normal;
}
/*Search*/
#navbar .search-box {
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-top: -2.5vh;
}
#navbar .form-control.search-text {
  height: 30px;
    position: relative;
    top: 19px;
    padding-left: 10px;
}
#navbar .search-box:hover > .search-text{
 /* width: 240px;
  padding: 0 6px;*/
}

#navbar .search-box:hover > .search-btn{
  background: transparent;
  color: black;
  
}

#navbar .search-btn {
  color: #e84118;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2vh; 
  
}
#navbar .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
#navbar .btn-outline-secondary.search-btn:focus {
  -webkit-box-shadow:none;
  box-shadow: none;
}
#navbar .btn-outline-secondary.search-bt:active {
  background-color: transparent;
}
#navbar .btn-outline-secondary.search-btn {
  border-color: transparent;

}
#navbar .btn-outline-secondary.search-btn:hover {
  border-color: transparent;
  background:transparent;
  border-radius: 25px;
}
#navbar .search-btn > i {
  fontsize: 30px;
}

#navbar .search-text {
  border: none;
  background: transparent;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  border-radius: 25px;
 
}
#navbar .form-control.search-text::placeholder {
  color: white;
  opacity: 1;
}
#navbar .form-control.search-text:focus {
  background-color: white;
  border-color: white;
  -webkit-box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  color: black;
  outline: 0;
}
/*end search*/

/*=================================FOOTER==========================================*/
#footer {
    background-color: var(--amat-black) !important;
}
#footer .footer1 .logo{
   width: 150px;
}
#footer .col-md-2.footer1, #footer .col-md-2.footer2, #footer .col-md-2.footer3,
#footer .col-md-3.footer4, #footer .col-md-3.footer5 {
    padding-top: 2em;
}
#footer p, #footer a{
	color: var(--amat-white);
}
#footer a{
	text-decoration:none !important;
	font-weight: lighter;
	font-size: 12px;
}
#footer .row.black-footer {
    border-top: 1px solid var(--amat-white);
    padding-top: 1em;
    padding-bottom: 1rem;
}
#footer .rrss {
    text-align: center;
}
#footer .rrss a {
    text-align: center;
    margin-right: 15px;
}
#footer .footer-title{
	font-size: 16px;
}
#footer .footer5 .first-line {
    margin-bottom: 1em;
}
/*bloques footer mobile*/
#footer .col-md-3.footer5.mobile {
    display: none;
}
#footer .black-footer .col-md-3.desk {
    display: block;
}
#footer .black-footer .col-md-3.mobile {
    display: none;
}
#footer .black-footer .reserved p {
    font-size: 12px;
    margin-top: 9px;
    /* margin-left: 4rem; */
}
#footer .footer .footer3 p, #footer .footer .footer4 p, #footer .footer .footer5 p {
	font-size: 14px;
}
#footer .footer-title{
	font-size: 16px !important;
}
#footer p {
    margin-top: 5px;
    font-size: 10px;
}
#footer .footer {
    margin-bottom: 3rem;
}
#footer .menu.nav.justify-content-end {
    /*float: left;*/
    display: block ruby;
}
#footer .links-legales ul li .nav-link {
  padding: .5rem 0rem;
}
#footer .links-legales ul li .nav-link:after{
   position: relative;
  top: 0rem;
  content: '';
  margin-left: 5px;
}
#footer .links-legales ul li .nav-link:first-child{
    border-left: 1px solid transparent ;
}
#footer .menu-item a[aria-current="page"] {
    color: var(--amat-white) !important;
}
#footer .footer-text {
    font-size: 14px !important;
    font-weight: 400;
}
#footer  nav {
  margin-top: 0rem;
}
/*==========================QUIENES SOMOS=========================================*/
.titulo-principal {
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 2rem;
}
.quienes-somos-section {
    padding-bottom: 4rem;
}
.quienes-somos .quienes-somos-photo img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 316px;
    object-fit: cover;
}
.quienes-somos .banner-quien {
  margin-top: 19vh;
margin-bottom: 10vh;
}
.quienes-somos .banner-quien .imagen {
  border-radius: 15px;
}
.quienes-somos .banner-quien .col-md-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quienes-somos .banner-quien  h2 {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: normal;
  font-size: 83px;
}
.quienes-somos .texto-destacado {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2rem;
}
.quienes-somos .contenido-quien {
  columns: 3;
}
.quienes-somos .col-md-12.saber-mas-amat {
  text-align: center;
  /* margin-top: 3rem; */
}
.quienes-somos .contenido a {
  color: black;
  text-decoration: none !important;
}
.quienes-somos .button.gold {
  border-radius: 50px;
  padding: 10px 20px;
}
.accordion-button {
	text-transform: capitalize;
}
.accordion-button p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.accordion-button:focus {
    border-color: transparent !important;
    -webkit-box-shadow: 0 0 0 .25rem ransparent !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
    color: var(--amat-black) !important;
}
.accordion-button .titulo_tab_1, .accordion-button .titulo_tab_2,
.accordion-button .titulo_tab_3 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}
#accordion-quienes-somos .imagen_tab_1 {
    width: 150px;
}
#accordion-quienes-somos  .image{
    text-align: left;
    margin-top: 3rem;
}
#accordion-quienes-somos  .accordion-body {
    padding: 20px 0px !important;
}
#flush-headingTwo .accordion-button::after, #flush-headingThree .accordion-button::after,
#flush-headingFour .accordion-button::after{
	top: 25% !important;
	right: 0 !important;
}
#accordion-quienes-somos .accordion-button::after{
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 73%;
	right: 49%;
	border-right: solid 2px var(--amat-black);
	border-bottom: solid 2px var(--amat-black);
	transform: rotate(225deg);
	transition: 0.2s ease-in-out;
	background-image: none;
}
#accordion-quienes-somos .accordion-button.collapsed::after {
    transform: rotate(45deg);
}
#accordion-quienes-somos #accordion-tab-1 {
    padding-top: 7rem;
}
.accordion-item {
    background-color: transparent !important;
    border: 1px solid transparent !important;
}
.accordion-button {
    background-color: transparent !important;
}
#flush-headingTwo, #flush-headingThree,
#flush-headingFour{
    border-bottom: 1px solid var(--amat-black);
}

/*==========================VILLAE MAGAZINE / CATÁLOGO AMATLUXURY=========================================*/
.villae-magazine h2.villae {
    font-family: Crimson Text;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 110%;
    color: var(--amat-black);
    margin-left: 12px;
}
.villae-magazine #slider .item {
    width: 100%;
}
.villae-magazine .titulo-principal {
    text-align: left;
}
.villae-magazine .solicitar-catalogo {
    display: block;
}
.villae-magazine .solicitar-catalogo a {
    margin: 4px;
}
.villae-magazine .solicitar-catalogo.mbl {
    display: none;
}
.villae-magazine .solicitar-catalogo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.villae-magazine .form {
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 3rem 4rem;
}
.wpcf7-response-output {
  display: none;
}
.villae-magazine .contact-form-villae{
	margin-bottom: 3rem;
}
.villae-magazine .wpcf7-list-item-label, .villae-magazine .wpcf7-list-item-label a {
  font-size: 11px;
  color: var(--amat-black);
}
/*===================================CONTACTO======================================*/
.contacto .banner-imagen{
	object-fit: cover;
	object-position: center;
	width: 100%;
}
.banner {
    position: relative;
    top: -1rem;
    margin-top: 4rem;
}
.contacto  .card-form {
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.contacto .oficina .oficinas {
  margin-top: 5rem;
}
.contacto .oficina  .oficinas iframe {
  width: 100%;
  max-height: 295px;
}
.contacto .titulo-principal {
    margin-top: 1rem;
}  
.contacto .checks-acceptance {
    margin-top: 1rem;
}
.contacto .wpcf7-list-item-label, .contacto .wpcf7-list-item-label a {
    font-size: 11px;
    color: var(--amat-black);
}
.contacto .button.gold {
    float: right;
}
.contacto .oficinas-titulo h3 {
    font-size: 'Crimson Text';
    font-weight: bold;
    font-size: 30px;
}
.contacto .accordion-button p {
	text-align: left;
}
.contacto .accordion-button {
	pointer-events: none !important;
}
.contacto .oficinas iframe {
    width: 100%;
    max-height: 400px;
    border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}
.contacto .oficinas h2{
    border-bottom: 2px solid black;
}
.contacto  .accordion-button:not(.collapsed)::after {
    display: none;
}
.contacto .accordion-body {
    min-height: 400px;
}
.contacto .direccion-horario {
    min-height: 10rem;
}
.contacto .direccion-horario p, .contacto .direccion-horario ul{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
.contacto .accordion-button p {
    font-size: 18px;
}
.contacto .oficinas {
    margin-bottom: 3rem;
}
/*==========================SERVICIOS=========================================*/
/*cambio posición imágenes en los div pares*/
.row.single-service {
  display: flex;
}
.row.single-service > * {
  order: 0;
}
.row.single-service:nth-child(2n) .col-md-6.uno {
  order: 2;
}
/**/
.servicios .icon {
  padding-bottom: 5px;
}
.servicios .banner-imagen {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.servicios .div-btn {
  width: 100%;
  text-align: center;
}
.servicios .tabs-servicios a{
  color: var(--amat-black);
  font-weight: normal;
}
.servicios .tabs-servicios .button.gold{
  color: var(--amat-white);
  font-weight: normal;
}
.servicios .row.single-service .img {
  max-width: 100%;
}
.servicios #v-pills-postventa ul li a{
    color:var(--amat-black);
    font-weight: normal;
}
.servicios #v-pills-postventa .button.gold {
    padding: 9px 50px;
}
.servicios #nav-tabContent strong {
  font-size: 16px;
}
.servicios .banner-servicios {
    margin-top: 6rem;
}
.servicios .banner-servicios .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicios .banner-servicios h2 {
    font-size: 80px;
    text-align: center;
}
.servicios .banner-servicios .imagen {
    
}
.servicios .d-flex.align-items-start {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.servicios .banner-servicios p {
  font-size: 16px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem !important;
}
.servicios .div-img{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ECEBE9;
  padding-bottom: 3rem;
}
.servicios .banner-servicios .div-img .imagen {
  margin: auto;
  display: block;
}
.servicios ul{
    /*columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2;*/
    font-size: 15px;
}
.servicios .td-servicios .row.single-service {
  	padding-top: 4rem;
	padding-bottom: 4rem;
}
.servicios .td-servicios  .single-service h1 {
  font-size: 30px !important;
  font-weight: bold;
}
.servicios p{
    font-size: 14px;
}
.servicios ul li{
    margin-bottom: 10px;
    font-weight: 300;
  font-size: 14px;
}
.servicios nav {
    margin-top: 3rem;
}
.servicios .tab-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.servicios #nav-tabContent{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.servicios #nav-propietario-tab.nav-link.active, .servicios #nav-comprador-tab.nav-link.active {
    border-bottom: 3px solid var(--amat-black) !important;
    color: var(--amat-black);
    font-weight: bold;
    padding-bottom: 2rem;
}
.servicios #nav-propietario-tab.nav-link, .servicios #nav-comprador-tab.nav-link { 
    border-color: transparent !important;
    color: var(--amat-black);
    padding-bottom: 2rem;
}
.servicios .col-md-8.formulario {
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 4rem;
  padding: 3rem 4rem;
  margin-top: 3rem;
}
.servicios .formulario .titulo-principal {
  margin-top: 0rem;
}
.servicios .wpcf7-list-item-label, .servicios .wpcf7-list-item-label a {
  font-size: 11px;
  color: var(--amat-black);
}
.nav-pills .nav-link.active{
    background: var(--amat-black) !important;
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-template-servicios .col-md-6.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-pills .nav-link{
    padding: 25px 102px 25px 20px;
    background: #ECEBE9 !important;
    border-radius: 9px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--amat-black);
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nav-pills .nav-link:hover{
    color: var(--amat-black);
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.servicios #accordionFlush2, .servicios #accordionFlush1{
    display: none;
}
/*=====================VENDIDOS Y ALQUILADOS==========================*/
.vendidos-alquilados  .titulo-principal {
    text-align: left;
}
.vendidos-alquilados .img-casa{
    width: 100%;
    max-height: 200px;
	min-height: 190px;
	object-fit: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.vendidos-alquilados .casa-grid {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
/* .vendidos-alquilados .casa:hover {
    background: #FFFFFF;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0px 0px;
} */
.vendidos-alquilados .casa{
    padding: 0px;
    margin: 10px;
    width: 30%;
    position: relative;
}
.vendidos-alquilados .info-casa {
    padding: 15px 6px;
}
.vendidos-alquilados .tag {
    position: absolute;
    top: 1rem;
    background: var(--amat-black);
    color: var(--amat-white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px 14px;
    text-transform: uppercase;
    font-size: 12px;
     font-family: 'Work Sans', sans-serif;
}
.vendidos-alquilados h4.title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.vendidos-alquilados .small, .vendidos-alquilados small {
    color: #ABA39B;
}
.vendidos-alquilados .nmb {
    font-size: 10px;
}
.vendidos-alquilados .icons-fil {
    display: inline-flex;
    width: 100%;
}
.vendidos-alquilados .info-ic {
    text-align: center;
    width: 12%;
}
.vendidos-alquilados .title, .vendidos-alquilados .ciudad {
    padding-left: 4px;
}
.vendidos-alquilados .ciudad {
    color: #ABA39B;
    font-size: 12px;
}

/*==================================BLOG==========================*/
.blog .text-excerpt, .archive .text-excerpt, .search-results .text-excerpt {
    height: 94px;
    overflow: hidden;
}
.search-results .page-title, .archive .page-title{
	font-size: 35px !important;
  	margin: 3rem 1rem 0rem 2rem;
}
.search-results .card-body, .archive .card-body {
  padding: 0rem;
}
#nav-above .btn.btn-secondary.btn-lg {
    display: none;
}
#nav-below .btn-secondary,  #nav-below .btn-secondary:hover, 
#nav-below .btn-secondary:active,  #nav-below .btn-secondary:focus,  #nav-below .btn-secondary:active:focus{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
}
.btn.btn-outline-secondary, .btn.btn-outline-secondary:hover,  .btn.btn-outline-secondary:active,
.btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:active:focus{
	background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
    color: var(--amat-black);
}
.blog .all-article .card-title{
	line-height: 23px;
}
.blog .text-excerpt p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog .blog-all .card-body{
	padding:0rem;
}
.blog article:first-child, .archive article:first-child, .search-results article:first-child{
    width: 59%;
}
.blog article, .archive article, .search-results article{
    width: 29%;
    padding: 0px;
	background: transparent;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.blog article .all-article, .archive article .all-article, .search-results article .all-article {
    padding: 10px;
}
.archive article .all-article, .search-results article .all-article {
    padding: 10px;
}
.blog article .post-thumbnail, .archive article .post-thumbnail, .search-results article .post-thumbnail {
    margin: 0px 0;
}
.blog article footer.entry-meta, .archive article footer.entry-meta, .search-results article footer.entry-meta{
    text-align: right !important;
}
.blog .btn-secondary, .archive .btn-secondary, .search-results .btn-secondary{
    color: var(--amat-black);
}
.blog .btn-secondary:hover, .archive .btn-secondary:hover, .search-results .btn-secondary:hover{
    color: var(--amat-black);
}
.blog .post-recent .post-title, .archive .post-recent .post-title, .search-results .post-recent .post-title{
    min-height: 4rem;
}
.blog article:hover, .archive article:hover, .search-results article:hover {
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}
.blog article .attachment-large.size-large.wp-post-image, 
.archive article .attachment-large.size-large.wp-post-image,
.search-results article .attachment-large.size-large.wp-post-image{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog article .attachment-large.size-large.wp-post-image:first-child,
.archive article .attachment-large.size-large.wp-post-image:first-child,
.search-results article .attachment-large.size-large.wp-post-image:first-child{
    height: 234px;
}
.blog article .card-body, , .archive article .card-body, .search-results article .card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}
.blog article .card, .archive article .card, .search-results  article .card{
    background-color: transparent;
    border: 0px solid transparent;
}
.blog article .card-text.entry-meta, .archive article .card-text.entry-meta, .search-results article .card-text.entry-meta{
    display: flex;
}
.blog article a, .archive article a, .search-results article a{
    color: var(--amat-black);
	/* text-transform: capitalize; */
}
.blog article .url.fn.n, .archive article .url.fn.n, .search-results article .url.fn.n{
    font-weight: normal;
    text-decoration: none !important;
    font-size: 13px;
}
.blog article .btn.btn-outline-secondary, .archive article .btn.btn-outline-secondary, 
.search-results article .btn.btn-outline-secondary{
	font-weight: bold;
	text-transform: initial;
}
.blog article .btn.btn-outline-secondary:hover, .archive article .btn.btn-outline-secondary:hover, 
.search-results article .btn.btn-outline-secondary:hover{
	text-decoration:underline !important;
}
.blog article .sep, .archive article .sep, .search-results article .sep{
    color: #ABA39B;
}
.blog article .card-title, .archive article .card-title, .search-results article .card-title{
	min-height: 5rem;
}
.blog article .card-title a, .archive article .card-title a, .search-results  article .card-title a{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
    color: var(--amat-black);
    text-decoration: none !important;
    font-size: 20px;
}
.blog article .date-post, .archive article .date-post, .search-results article .date-post{
	text-align: right;
	width: 100%;
	font-weight: normal;
	text-decoration: none !important;
	font-size: 12px;
}
.blog .blog-all .card{
	margin-bottom: 0px !important;
}
.blog article .by-author, .archive article .by-author, .search-results article .by-author, .single .by-author{
	width: 100%;
	text-decoration: none !important;
	display: none;
}
/*comentarios*/
.commentlist > li.comment {
    margin: 0 0 1.625em;
    padding: 0.5em;
}
.commentlist {
    list-style: none;
    margin: 0 auto;
    width: 81.9%;
}
.commentlist a, .commentlist a:hover, .commentlist a:active, .commentlist a:focus  {
    color: var(--amat-black);
    font-size: 13px;
}
.commentlist .avatar {
    border-radius: 22%;
    -webkit-box-shadow: 0 1px 2px #6c757d;
    box-shadow: 0 1px 2px #6c757d;
    height: 64px;
    left: -83px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 65px;
}

.post-recent.col-md-4:first-child .text-excerpt {
    height: auto;
}
.post-recent.col-md-4:first-child {
    width: 59%;
}
.post-recent.col-md-4 {
    width: 29%;
}
.post-recent .box{
    padding: 1px 6px 5px 10px;
}
.post-recent .attachment-thumbnail.size-thumbnail.wp-post-image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.post-recent .date {
    text-align: right;
}
.post-recent .author{
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
.post-recent .author span{
    font-weight: normal;
    color: #ABA39B;
}
.post-recent{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.post-recent:hover {
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}
.post-recent.col-md-4 {
    padding: 0px;
    margin-left: 1rem;
}
.post-recent .post-info.row {
    margin-top: 1rem;
}
.post-recent .post-title {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none !important;
    color: var(--amat-black);
}
.post-recent.col-md-4:first-child .post-title{
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.post-recent .read-more {
    text-align: right;
    font-size: 16px;
    color: var(--amat-black);
}
.post-recent .read-more img{
    width: 18px;
}
.blog .blog-all, .archive .blog-all, .search-results .blog-all {
    max-width: 1200px !important;
    margin: auto;
    margin-top: 8rem;
}
/*---single post---*/
.single .post .entry-content img{
	
}
.single .post-thumbnail{
  margin-top: 1rem;
}
.single .entry-content a, .single .post-recent a {
  color: black !important;
}
.single  .row.container-blog {
    margin-left: 5rem;
    margin-right: 5rem;
}
.single .btn-outline-secondary {
    border-color: transparent;
    color: var(--amat-black);
    text-decoration: none !important;
}
.single .btn-outline-secondary:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--amat-black);
}
#commentform a {
    color: black;
    font-weight: normal;
}
.single .btn-check:active + .btn-outline-secondary, 
.single .btn-check:checked + .btn-outline-secondary, 
.single .btn-outline-secondary.active, 
.single .btn-outline-secondary.dropdown-toggle.show, 
.single .btn-outline-secondary:active{
    background-color: transparent;
    border-color: transparent;
    color: var(--amat-black);
}
.single .next-post .title {
    display: none;
}
.single .post-thumbnail img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.single .post .entry-content img {
  max-height: 400px;
  max-width: 100%;
  object-fit: cover;
}
.single #main {
    margin-top: -1rem;
}
.single .post {
    padding: 5px 20px;
}
.single .post .entry-title {
    font-size: 20px !important;
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'work sans', sans-serif;
}
.single .post .date-post {
    text-align: right;
    width: 50%;
    display: block;
    float: right;
}
.single .post .sep {
    color: #ABA39B;
    font-size: 14px;
}
.single .post .author-meta.vcard a {
    color: var(--amat-black);
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
}
.single .post .date-post {
    color: black;
    text-decoration: none !important;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: normal;
    pointer-events: none !important;
}
.single #sidebar {
    padding: 0.5rem 2rem;
}
.single #sidebar .bg-faded.sidebar-nav h3 {
    font-family: Crimson Text;
    font-weight: bold;
    margin-top: -2rem;
}
.single #sidebar #widget-area {
    margin-top: 0.5rem;
}
.single #sidebar #widget-area h2{
    font-weight: bold;
    font-size: 25px;
}
.single #sidebar .post-recent:hover {
    box-shadow: none;
}
.single #sidebar .post-title {
    font-size: 15px;
}
.single #sidebar .date {
    text-align: right;
    font-size: 11px;
    width: 100%;
}
.single #sidebar .author.col-md-6 {
    color: transparent;
    display: none;
}
.single #sidebar .post-recent p {
    font-size: 12px;
}
.single .post-recent .read-more {
    text-align: right;
    font-size: 13px;
    text-decoration: none !important;
}
.single .post-recent .read-more:hover {
    text-decoration: underline !important;
}
.single .previous-post .title {
    display: none;
}
.single #comments {
    margin-top: 0rem;
    padding: 5px 20px;
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-left: 1rem;
}
.single #comment, .single #author, .single #email{
    background: #ECEBE9;
    border-radius: 15px;
    border: none;
}
.single .post-navigation.d-flex.justify-content-between{
    padding: 5px 20px;
}
/*.single #main .row a, .single #main .row a:hover{
    color: var(--amat-black);
}*/
.single #submit {
    background: linear-gradient(270deg, #9B835D 0%, #605038 100%);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    border: none;
    padding: 9px 20px;
    margin-bottom: 1rem;
}
.single .form-submit {
    text-align: right;
}
.author #main a, .author #main a:hover{
    color: var(--amat-black);
}
.author .post .card-title a{
    text-decoration: none !important;
}
.author .post .card {
    border: none;
}
.author .post .post-thumbnail img, .author .post .post img {
    height: auto;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.author .btn-outline-secondary {
    border-color: transparent;
    text-align: right;
    width: 100%;
}
.author .btn-outline-secondary:hover {
    background-color: transparent;
    border-color: transparent;
}
.author .btn-outline-secondary:active {
    background-color: transparent;
    border-color: transparent;
}
.author .author-meta a, .author .date-post  {
    font-size: 12px;
}
/*=========================HOME BLOCK===========================================*/
.home-block .titulo-principal h1{
	font-family: Crimson Text !important;
	font-style: normal;
	font-weight: normal;
	font-size: 65px !important;
	text-align: center;
	color: var(--amat-black);
	margin-top: 3rem;
}
.home-block .titulo-slider h6{
    color:#ABA39B;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.home-block .titulo-slider h3{
	font-family: Crimson Text;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
    width: 60%;
}
.home-block  #slider img{
	width: 100%;
	max-width: 100%;
	min-height: 300px;
	object-fit: cover;
	border-radius: 15px;
	max-height: 500px;
	height: 500px;
}
.home-block .slick-dots {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0px;
    margin-top: 1rem;
}
.home-block .slick-dots li{
	list-style: none !important;
	font-size: 2px !important;
}
.home-block .slick-dots li button {
    background: var(--amat-white);
    border: 1px solid var(--amat-black);
    border-radius: 30px;
    color: transparent;
    height: 10px;
    width: 0px;
    margin: 3px;
}
.home-block .slick-dots .slick-active button {
    background: var(--amat-black) !important;
}
.home-block .btn-slider {
	text-align: center;
	margin-bottom: 4rem;
}
.home-block .button.black {
    font-size: 16px;
    font-weight: normal;
}
.home-block .titulo-oportunidades h3 {
    font-weight: bold;
    font-size: 30px;
}
.home-block .texto-oportunidades h3 {
    font-size: 16px;
    width: 50%;
}
.home-block .oportunidad-grid {
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.home-block .oportunidad-grid .col-md-6 {
    margin-top: 1rem;
}
.home-block .oportunidad-grid img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
    position: relative;
}
.home-block .oportunidad-grid .url{
	position: relative;
}
.home-block .oportunidad-grid .url p{
	position: absolute;
	bottom: -7rem;
	right: 4rem;
	color: var(--amat-white);
	font-weight: bold;
	font-size: 17px;
}
.home-block .oportunidad-grid .url p:after{
	background:url(/blog/wp-content/uploads/2021/11/arrow.png);
	content: '';
	background-repeat: no-repeat;
	position: absolute;
	border: none;
	top: 0.7rem;
	right: -2em;
	display: block;
	background-size: auto;
	height: 19px;
	width: 20px;
}
.home-block .block-secnd{
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.home-block .block-secnd .col-md-6{
	width: 49%;
}
.home-block .diferente {
    padding: 3rem 3rem;
    background: black;
    border-radius: 15px;
}
.home-block  .villae-block {
    background: #ECEBE9;
    border-radius: 15px;
    padding: 3rem 3rem;
    margin-left: 1rem;
}
.home-block .villae-block .imagen {
    width: 100%;
    max-width: 100%;
}
.home-block .villae-block .texto {
    font-size: 13px;
}
.home-block .block-dif {
    text-align: center;
}
.home-block .block-dif .titulo {
    text-transform: uppercase;
    color: var(--amat-white);
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    margin-top: 1rem;
}
.home-block .block-dif p {
    color: var(--amat-white);
    font-size: 13px;
}
.home-block  .titulo-diferente h3 {
    color: var(--amat-white);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.home-block  .villae-block h3 {
    color: var(--amat-black);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 3rem;
}
.home-block .url.button.black, .home-block .url.button.white {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
	font-size: 16px !important;
}

/*tabs servicios*/
.ourwork-tab-wrap .all-tab-img img {
    padding-bottom: 20px;
}
.ourwork-tab-wrap .all-tab-img img:nth-last-child(2) {
    padding-bottom:0;
}
.ourwork-tab-wrap{
    padding: 15px 0px;
    position: relative;
}
.ourwork-tab-wrap .nav-tabs {
    display:none;
    border-bottom: none;
}
.ourwork-tab-wrap .nav-tabs .nav-item {
    background: transparent;
    margin-right: 10px;
    margin-bottom: 0px;

}
.ourwork-tab-wrap .nav-tabs .nav-link{
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fff;
    text-decoration: none !important;
    padding: 25px 102px 25px 20px;
    background: #ECEBE9 !important;
    border-radius: 9px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--amat-black);
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}
.ourwork-tab-wrap .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #54bbca;
    color: #fff;
}

.ourwork-tab-wrap .container2 {
  display: flex;
}
.ourwork-tab-wrap .nav-tabs {
  display: block;
}
.ourwork-tab-wrap .nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: none;
  color: white;
  background: var(--amat-black) !important;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 102px 25px 20px;
  border-radius: 8px;
}

@media (min-width: 768px) {
    .ourwork-tab-wrap .nav-tabs {
     display: initial; 
  }
}

.ourwork-tab-wrap .nav-tabs {
  display: none;
}

.ourwork-tab-wrap .nav-tabs .nav-item {
  width: 100%;
}

.ourwork-tab-wrap .nav {
   display: none;
}


@media(min-width:768px) {
    .ourwork-tab-wrap .nav-tabs {
        display: block;
    }

    .ourwork-tab-wrap .card {
        border: none;
    }

    .ourwork-tab-wrap .card .card-header {
        display:none;
    }

    .ourwork-tab-wrap .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .ourwork-tab-wrap #content {
      width: 100%;
    }
    .ourwork-tab-wrap .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
        margin-bottom: 0px;
    }
    .ourwork-tab-wrap .card-header {
      padding: 0rem 1rem;
    }
    .ourwork-tab-wrap .card-header a.collapsed {
      text-decoration: none !important;
      padding: 25px 102px 25px 20px;
      background: #ECEBE9 !important;
      border-radius: 9px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: var(--amat-black) !important;
      text-align: left;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
    }
    .ourwork-tab-wrap .card-header a{
      padding: 0px;
      text-decoration: none !important;
      padding: 25px 102px 25px 20px;
      background: var(--amat-black) !important;
      border-radius: 9px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: var(--amat-white) !important;
      text-align: left;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
      font-weight: bold;
    }
    .ourwork-tab-wrap .card-header {
        background: transparent;
        color: #fff;
        border-bottom: none;
    }
    .ourwork-tab-wrap .card-header h5 a{
        background: transparent;
        color: var(--amat-black);
        border-bottom: none;
        text-decoration: none;
        font-size: 16px;
        display: block;
        text-decoration: none !important;
    }
    .ourwork-tab-wrap .card-header h5 a i {
        float: right;
        padding-top: 5px;
    }
    .ourwork-tab-wrap .card-body {
        border: none;
    }
    .ourwork-tab-wrap .card {
        border: none;
    }
    .ourwork-tab-wrap .card-header h5 a:hover {
        color: var(--amat-black);
    }

}
/*end tabs servicios*/

































@media (max-width: 500px) {
/*=================================RESPONSIVE======================================*/
/*====================TIPOGRAFIAS===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1{
	font-size: 40px;
	font-family: 'Crimson Text', serif;
}
h2{
	font-size: 26px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h3{
	font-size: 22px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h4{
	font-size: 18px;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}
h5{
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
p{
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
}
button, .button{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
a{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline !important;
}
/*==============================GENERAL============================================*/
.banner-imagen {
    min-height: 11rem;
}
#wrapper{
  max-width: 100%;
  overflow-x: hidden;
}
#content {
  
}
/*==============================BREADCRUMBS========================================*/
.breadcrumbs {
    margin-left: 1rem;
}




/*=================================PLANTILLA GENÉRICA==============================*/
.p-generica .video {
    width: 95%;
    margin: auto;
}
.p-generica .video iframe {
    height: 15rem;
}



/*=================================FOOTER==========================================*/
#footer .menu.nav.justify-content-end {
  display: inline-flex !important;
  float: none;
  justify-content: center !important;
}
#footer .footer .footer1, #footer .footer .footer2, #footer .footer .footer3,
#footer .footer .footer4{
	text-align: center;
}
#footer .footer1 .logo{
   width: 100% !important;
}
#footer p {
    margin-bottom: -7px;
}
#footer .row.black-footer {
    border-top: none;
}
#footer .links-legales, #footer .reserved, #footer .languages {
	text-align: center;
	margin-top: 0.5rem;
}
#footer .black-footer{
	padding-bottom: 3rem;
}
/*bloques footer mobile*/
#footer .footer .col-md-3.footer5.mobile {
    display: block;
 }
#footer .footer .col-md-3.footer5 {
    display: none;
}
#footer .black-footer .col-md-2.desk {
    display: none;
}
#footer .black-footer .col-md-3.mobile {
    display: block;
    margin-top: 1rem;
}
#footer .footer1 .logo {
    width: 40% !important;
}
#footer .footer5 .first-line {
    margin-bottom: 1em;
    text-align: center;
}
/**/

/*===============================QUIENES SOMOS==========================*/
.page-template-quienes-somos #accordion-quienes-somos {
    padding-top: 5rem;
}
.page-template-quienes-somos .contenido {
    padding-top: 1rem;
}
.titulo-principal{
	font-weight: bold;
	font-size: 32px;
	text-align: left;
	font-family: 'Crimson Text';
}
.quienes-somos .contenido-quien {
  columns: 1;
}
.quienes-somos .texto-destacado {
  font-size: 16px;
  margin-bottom: 0rem;
}
.quienes-somos .banner-quien h2 {
  font-size: 50px;
  /* margin-top: 3rem; */
}
/*==============================CONTACTO================================*/
.contacto .accordion-button {
	pointer-events:auto !important;
}
.contacto  .accordion-button:not(.collapsed)::after {
    display: block !important;
}
.contacto .oficinas-titulo h3 {
    font-size: 18px;
    margin-left: 1rem;
}
.contacto .accordion-button p {
    width: 100%;
    text-align: left;
    font-size: 20px;
}
.contacto .accordion-body {
    min-height: 400px;
}
.contacto .oficinas iframe {
    max-height: 200px;
}
.contacto .form .checks-acceptance {
    position: absolute;
    bottom: 6rem;
}
.contacto .form .wpcf7-form.init {
    position: relative;
}
.contacto .form .button.gold {
    margin-top: 10rem;
}

/*==================================VILLAE MAGAZINE / CATÁLOGO AMATLUXURY===========================*/
.villae-magazine .form .wpcf7-form.init {
  position: relative;
}
.villae-magazine .form .checks-acceptance {
  position: absolute;
  bottom: 6rem;
}
.villae-magazine .form .button.gold {
  margin-top: 6rem;
}
.villae-magazine .titulo-principal h1 {
    font-size: 32px !important;
    text-align: center;
    font-weight: bold;
    padding-top: 3rem;
}
.villae-magazine .titulo-principal{
    margin-top: 2rem;
}
.villae-magazine .contenido-villae {
    text-align: center;
    line-height: 23px;
}
.villae-magazine .solicitar-catalogo {
    display: none;
}
.villae-magazine .solicitar-catalogo.mbl {
    display: block;
}
.villae-magazine .solicitar-catalogo {
    text-align: center;
}
.villae-magazine .button.black {
    margin-right: 10px;
}
.villae-magazine .form {
    padding: 2rem 1rem;
    margin-top: 2rem;
}
/*==========================SERVICIOS=========================================*/
/*cambio posición imágenes en los div pares en mbl*/
.row.single-service {
  display: block;
}
/**/
.servicios .single-service .img {
  margin-top: 3rem;
  max-width: 100%;
}
.servicios .td-servicios .row.single-service {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.servicios .button.black {
  padding: 9px 34px;
  font-size: 12px;
}
.servicios .banner-servicios p {
  font-size: 14px;
}
.servicios .ourwork-tab-wrap .card-body {
  border: none;
  padding-bottom: 6rem;
}
.servicios .titulo-principal h1{
  font-size: 32px !important;
font-weight: bold;
}
.servicios .col-md-8.formulario {
  padding: 2rem 2rem;
}
.servicios #contact {
  margin: 1rem;
  position: relative;
}
.servicios .checks-acceptance {
  position: absolute;
  bottom: 11rem;
}
.servicios .button.gold {
  margin-top: 8rem;
}
.servicios .td-servicios .single-service h1 {
  font-size: 18px !important;
}
.servicios p, .servicios ul li {
  font-size: 12px;
}
.servicios .d-flex {
    display: block !important;
}
.servicios ul{
    columns: 1;
}
.servicios .banner-servicios h2 {
    font-size: 45px;
    margin-top: 1rem;
}
.servicios #nav-propietario-tab, #nav-comprador-tab {
    width: 45%;
    padding: 4px;
        padding-bottom: 4px;
    font-size: 13px;
}
.servicios nav {
    margin-top: 0rem;
}
.servicios .d-flex.align-items-start {
    margin-top: 1rem;
}
.servicios #accordionFlush2, .servicios #accordionFlush1{
    display: block;
    margin-bottom: 4rem;
}
.servicios .d-flex.align-items-start {
    display: none !important;
}
.servicios .accordion-button.collapsed{
	color: var(--amat-black) !important;
}
.servicios .accordion-button{
    background: var(--amat-black) !important;
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px !important;
    padding: 25px 102px 25px 20px;
    color: var(--amat-white) !important;
}
.servicios .accordion-button.collapsed {
    padding: 25px 102px 25px 20px;
    background: #ECEBE9 !important;
    border-radius: 9px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--amat-black);
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.servicios .accordion-button:not(.collapsed)::after {
    background-image: none;
}
.servicios  .accordion-button::after {
    background-image: none;
}
.servicios .btn-mbl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#accordionFlush1 h2, #accordionFlush2 h2{
    border-bottom: 1px solid transparent;
}
.servicios #accordionFlush1 p, .servicios #accordionFlush2 p{
    font-size: 16px;
}
.servicios  #collapse-A {
  min-height: 500px;
}
.servicios  #collapse-B {
  min-height: 660px;
}
.servicios  #collapse-C {
  min-height: 750px;
}
/*==========================SERVICIOSVENDIDOS Y ALQUILADOS==============*/
.vendidos-alquilados .casa {
    width: 94%;
}
.vendidos-alquilados .casa{
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}
.vendidos-alquilados .casa {
    margin: 20px 10px;
}
.vendidos-alquilados h1 {
  padding-top: 3rem;
  font-size: 46px !important;
}
/*==================================BLOG===============================*/
.blog article:first-child, .blog article, .archive article, .archive article:first-child,
.search-results article, .search-results article:first-child {
    width: 90%;
}
.blog .text-excerpt p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog .blog-all, .archive, .search-results  {
  margin-top: 6rem;
}
.single #sidebar .bg-faded.sidebar-nav h3 {
    text-align: center;
}
.single .lista-post .post-recent {
    box-shadow: none;
}
.post-recent.col-md-4 {
    width: 100% !important;
}
.post-recent.col-md-4 {
    padding: 0px;
    margin-left: 0;
}
.row.lista-post {
    margin: 0.5rem;
}
.post-recent{
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}
.post-recent .author.col-md-6 {
    display: none;
}
.post-recent .read-more {
    margin-bottom: 1rem;
}

.single .row.container-blog {
  margin-left: 0rem;
  margin-right: 0rem;
}
.archive header .page-title  {
  font-size: 30px !important;
  margin: 3rem 1rem 0rem 1rem;
}

.single #sidebar {
  padding: 0.5rem 1rem;
}
/*comentarios*/
.single #comments {
	margin-left: 0px;
}
.single .commentlist .avatar {
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px #6c757d;
    box-shadow: 0 1px 2px #6c757d;
    height: 64px;
    left: -89px;
}
.single .commentlist > li.comment {
    padding: 0.5em;
}
.single .comment-content {
    margin-top: 1rem;
}
/*=========================HOME BLOCK===========================================*/
.home-block .titulo-principal h1 {
    font-family: Crimson Text !important;
    font-style: normal;
    font-weight: normal;
    font-size: 45px !important;
}
.home-block .titulo-slider h3 {
    font-size: 32px;
    width: 75%;
}
.home-block .texto-oportunidades h3 {
    font-size: 16px;
    width: 90%;
}
.home-block .oportunidad-grid .col-md-6:first-child, .home-block .oportunidad-grid .col-md-6:last-child {
	width: 100%;
}
.home-block .oportunidad-grid .col-md-6 {
	width: 50%;
}
.home-block .oportunidad-grid .url p:first-child, .home-block .oportunidad-grid .url p:last-child {
    position: absolute !important;
	font-size: 12px;
	bottom: -2rem !important;
	right: 2rem !important;
}
.home-block .oportunidad-grid .url p {
    position: absolute !important;
	bottom: -2rem !important;
	right: 2rem !important;
    color: var(--amat-white);
    font-weight: bold;
    font-size: 12px;
}
.home-block .block-secnd .col-md-6 {
    width: 100%;
}
.home-block .block-secnd {
    margin-top: 2rem;
    margin-bottom: 0rem;
}
.home-block .villae-block {
    border-radius: 0px;
    margin-left: 0rem;
}
.home-block .diferente {
    border-radius: 0px;
}
.home-block .villae-block .texto {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home-block #slider img {
  height: auto;
  min-height: auto;
}





/*============================================HEADER====================================*/
/* order search mbl*/
.navbar-collapse {
    height: 100vh !important;
}

.collapse.navbar-collapse{
	display: flex;
	flex-direction: column;
}

.collapse.navbar-collapse .search-form{
 	order:1;
}
.collapse.navbar-collapse .navbar-nav{
	order:2;
}
#navbar .me-auto {
  margin-left: 0px !important;
	margin-right: auto !important;
}
#header .search-form {
  min-width: 100% !important;
}
#navbar {
  padding-bottom: 5rem;
}/*end order search*/
/*menú burguer*/
/*#header .navbar-dark .navbar-toggler-icon.collapsed{
  background-image: url("/wp-content/uploads/2022/01/menu.png") !important ;
}
#header .navbar-dark .navbar-toggler-icon {
  background-image: url("/wp-content/uploads/2022/01/crux.png") !important;
}*/
/*end menu burguer*/
.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler {
  color: transparent !important;
}
header .top-bar{
	display: none;
}

#header .search-form {
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}
#navbar .search-text {
  background: white;
  width: 100%;
}
#navbar  .img-s {
  position: absolute;
  right: 0;
}
#navbar .search-btn {
  margin-top: -3vh;
}
#navbar .btn-outline-secondary.search-btn {
	width: 100%;
}
#menu-item-wpml-ls-13-en, #menu-item-wpml-ls-13-es, #menu-item-wpml-ls-13-ca, header .login {
  display: block;
}

header .login{
	margin-top: 0rem;
}

header .login a {
  border: 1px solid white;
  border-radius: 20px;
  width: 36%;
  padding: 10px 33px;
  text-align: center;
  position: absolute;
	right: 1rem;
}
header .dropdown-menu {
  background-clip: padding-box;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
  color: white;
  display: none;
}
header .dropdown-item {
  color: white;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  text-decoration: none !important;
}
header .wpml-ls-display {
  margin-left: -6px;
}






}




@media (max-width: 1175px) {
/*==========================header toggle=========================*/

/*#navbar .collapse:not(.show) {
	display: block !important;
}
header .navbar-expand-md .navbar-toggler, .navbar-expand-md .offcanvas-header {
  display: block !important;
}
#navbar.navbar-collapse.collapse{
  display: none !important;
}
#navbar.navbar-collapse.collapse.show{
	display: block !important;
}*/


}

#headingTwo, #headingOne, #headingFour {
    scroll-margin-top: 120px;
}




























/*========================================TABLET==================================*/
@media (min-width: 768px) and (max-width: 1150px) {
    /*-----------FOOTER------------*/
    #footer .col-md-2.footer1 img {
        max-width: 100%;
    }
    
    #footer .menu.nav.justify-content-end {
        float: left;
    }
    #footer .black-footer .reserved p {
        font-size: 10px;
        margin-top: 4px;
        text-align: center;
    }
}



